body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{
     border: 1px white solid;
     border-radius: 10px;
     background-color: white;
     padding: 20px;
     margin: auto;
}
.inside{
    border: 1px deepskyblue solid;
    border-radius: 5px;
    background-color: deepskyblue;
    padding:30px;
    margin: auto;
}
p,h3{
    color: grey;
    text-align: center;
}
img{
    padding:5px;
    text-align: center;
}